@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  color: black;
  background-color: white;
  font-family: "Inter Tight", sans-serif;
  user-select: none;
}

.directionRight {
  direction: rtl;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.parallax {
  background-attachment:fixed;
  background-image: url(/assets/images/parallaxImage.jpg);
  background-position: center;
  background-size: auto;
}

@layer utilities {
  .deep-shadow {
    @apply shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)]
  }

  .hover-action {
    @apply cursor-pointer active:opacity-40 hover:opacity-75
  }

  .common-padding {
    @apply 2xl:px-56 xl:px-48 lg:px-40 md:px-36 px-28
  }
}



